{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "dataManager": false
    "LOL": false
  },
  "rules": {
    "no-console": 0,
    "semi": 2
  }
}
